.pio/
.pioenvs/
.build/

.vscode/

sdkconfig
sdkconfig.*
*.bin
*.elf
*.map
*.hex

build/
cmake-build-*
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

*.log
*.tmp
*.bak
*.swp
*.swo

__pycache__/
*.pyc

*.core
*.dump

.DS_Store

*.orig